<div class="page-wrapper">
    <div class="banner">
        <div class="container">
            <h1>SOLUÇÕES ÚNICAS PARA O SEU NEGÓCIO</h1>
            <p>O seu parceiros na área de consultoria financeira </p>
        </div>
    </div>
</div>

<div class="about-us">
    <div class="row description-1">
        <div class="col-sm">
            <h3>Sobre Nós</h3>
            <p>A Omnium Advisory Partners foi criada com o objectivo de colaborar 
            com as equipas de gestão e accionistas ao longo de todas as fases de d
            esenvolvimento das suas empresas.</p>
            <p>Os vários serviços de consultoria financeira estão assentes na proximidade, 
            comunicação clara, acompanhamento e elaboração de soluções únicas e de valor acrescentado para cada 
            situação, pretendendo criar relações duradouras com os seus clientes.</p>
        </div>   
        <div class="col-sm">
          <%= image_tag "sobre_nos.png" %> 
        </div>   
    </div>
    <div class="row description-2">
        <div class="col-12">
            <p><strong>Os nossos serviços têm por base os seguintes pilares:</strong></p>
        </div>
        <div class="col-md-3 col-sm-12 box">
            <div class="box-header">
                <i class="fas fa-envelope"></i>
                <p>Integridade e confidencialidade</p>
            </div>
            <p>Servir os nossos clientes evitando todos os conflitos de interesse e preservando toda a informação com um elevado grau de confidencialidade.</p>
        </div>
        <div class="col-md-3 col-sm-12 box">
            <div class="box-header">
                <i class="fas fa-comments"></i>
                <p>Comunicação e transparência</p>
            </div>    
            <p>Comunicar de formar regular, clara e eficaz todos os aspectos relevantes do projecto.</p>
        </div>
        <div class="col-md-3 col-sm-12 box">
            <div class="box-header">
                <i class="fas fa-hands-helping"></i>
                <p>Proximidade e acompanhamento</p>
            </div>    
            <p>Prestar um serviço próximo e compreender as necessidades reais dos nossos clientes.</p>
        </div>
        <div class="col-md-3 col-sm-12 box">
            <div class="box-header">
                <i class="fas fa-chart-line"></i>
                <p>Criar valor acrescentado</p>
            </div>    
            <p>Criar soluções únicas e criativas para cada situação que tragam resultados tangíveis para os nossos clientes.</p>
        </div>
    </div>    
</div>    

<div class="our-services">
    <div class="wrapper">
        <div class="tab" role="tabpanel">
        <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#Section1" aria-controls="home" role="tab" data-toggle="tab" id="id1">STARTUP
                        <span class="round-tabs one"><i class="icon icon-pencil"></i></span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#Section2" aria-controls="home" role="tab" data-toggle="tab" id="id2">CRESCIMENTO
                        <span class="round-tabs one"><i class="icon icon-pencil"></i></span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#Section3" aria-controls="home" role="tab" data-toggle="tab" id="id3">MATURIDADE
                        <span class="round-tabs one"><i class="icon icon-pencil"></i></span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#Section4" aria-controls="home" role="tab" data-toggle="tab" id="id4">DECLÍNIO
                        <span class="round-tabs one"><i class="icon icon-pencil"></i></span>
                    </a>
                </li>               
            </ul>
            <!-- Averiguar como fazer cá em baixo -->
            <div class="tab-content">
                <div class="tab-pane fade" id="Section1">
                   <!-- <div class="tabbable"> -->
                        <ul class="nav nav-tabs nav-fill">
                            <li class="nav-item"><a class="nav-link active" href="#sub11">PLANOS DE NEGÓCIO</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#sub12">LEVANTAMENTO DE FUNDOS</a>
                            </li>
                        </ul>
                        <!--<div id="myTabContent" class="tab-content">-->
                            <div role="tabpanel" class="tab-pane show fade" id="sub11">
                                <h3>Section 1</h3>
                                <p>text here</p>
                            </div>
                        <!--</div> -->
                </div> 
                <div role="tabpanel" class="tab-pane fade" id="Section2">
                    <h3>Section 2</h3>
                    <p>text here</p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section3">
                    <h3>Section 5</h3>
                    <p>text here</p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section4">
                    <h3>Section 4</h3>
                    <p>text here</p>
                </div>  
            </div>
        </div>
    </div>
</div>            


                    <!--<div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        <h3>Section 1</h3>
                        <p>text here</p>
                    </div>-->
        <!--<div class="">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" href="#set1">
                        <i class="fas fa-rocket"></i><br>STARTUP</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#set2">
                        <i class="fas fa-arrow-alt-circle-up"></i><br>CRESCIMENTO
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#set3">
                        <i class="fas fa-chart-bar"></i><br>MATURIDADE
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#set4">
                        <i class="fas fa-angle-double-down"></i><br>DECLÍNIO
                    </a>
                </li>        
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="set1">
                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-fill">
                            <li class="nav-item"><a class="nav-link active" href="#sub11">PLANOS DE NEGÓCIO</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#sub12">LEVANTAMENTO DE FUNDOS</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="sub11">
                                <p>LOREM IPSUM</p>
                            </div>
                            <div class="tab-pane fade" id="sub12">
                                <p>LOREM IPSUM</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="set2">
                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-fill">
                            <li class="nav-item"><a class="nav-link active" href="#sub21">COMPRA E VENDA DE ATIVOS</a>
                            </li>
                            <li class="nav-item"><a class="nav-link"  href="#sub22">AVALIAÇÕES</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#sub23">PLANOS DE NEGÓCIO</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#sub24">ESTUDOS DE VIABILIDADE</a>
                            </li>  
                            <li class="nav-item"><a class="nav-link"  href="#sub25">ESTUDOS DE MERCADO</a>
                            </li>  
                            <li class="nav-item"><a class="nav-link" href="#sub26">LEVANTAMENTO DE FUNDOS</a>
                            </li>  
                            <li class="nav-item"><a class="nav-link" href="#sub27">SERVIÇOS DE APOIO À GESTÃO</a>
                            </li>   
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="sub21">
                                <p>LOREM IPSUM</p>
                            </div>
                            <div class="tab-pane fade" id="sub22">
                                <p>LOREM IPSUM</p>
                            </div>
                            <div class="tab-pane fade" id="sub23">
                                <p>LOREM IPSUM</p>
                            </div>
                            <div class="tab-pane fade" id="sub24">
                                <p>LOREM IPSUM</p>
                            </div>        
                            <div class="tab-pane fade" id="sub25">
                                <p>LOREM IPSUM</p>
                            </div>     
                            <div class="tab-pane fade" id="sub26">
                                <p>LOREM IPSUM</p>
                            </div>   
                            <div class="tab-pane fade" id="sub27">
                                <p>LOREM IPSUM</p>
                            </div>                                                                   
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="set3">
                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-fill">
                            <li class="nav-item"><a class="nav-link active" href="#sub31">COMPRA E VENDA DE ATIVOS</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#sub32">AVALIAÇÕES</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#sub33">PLANOS DE NEGÓCIO</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#sub34">ESTUDOS DE VIABILIDADE</a>
                            </li>  
                            <li class="nav-item"><a class="nav-link" href="#sub35">ESTUDOS DE MERCADO</a>
                            </li>  
                            <li class="nav-item"><a class="nav-link" href="#sub36">LEVANTAMENTO DE FUNDOS</a>
                            </li>  
                            <li class="nav-item"><a class="nav-link" href="#sub37">SERVIÇOS DE APOIO À GESTÃO</a>
                            </li>   
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="sub31">
                                <p>LOREM IPSUM</p>
                            </div>
                            <div class="tab-pane fade" id="sub32">
                                <p>LOREM IPSUM</p>
                            </div>
                            <div class="tab-pane fade" id="sub33">
                                <p>LOREM IPSUM</p>
                            </div>
                            <div class="tab-pane fade" id="sub34">
                                <p>LOREM IPSUM</p>
                            </div>        
                            <div class="tab-pane fade" id="sub35">
                                <p>LOREM IPSUM</p>
                            </div>     
                            <div class="tab-pane fade" id="sub36">
                                <p>LOREM IPSUM</p>
                            </div>   
                            <div class="tab-pane fade" id="sub37">
                                <p>LOREM IPSUM</p>
                            </div>                                                                   
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="set4">
                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-fill">
                            <li class="nav-item"><a class="nav-link active" href="#sub41">REESTRUTURAÇÕES</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#sub42">COMPRA E VENDA DE ATIVOS</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#sub43">SERVIÇOS DE APOIO À GESTÃO</a>
                            </li>  
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="sub41">
                                <p>LOREM IPSUM</p>
                            </div>
                            <div class="tab-pane fade" id="sub42">
                                <p>LOREM IPSUM</p>
                            </div>
                            <div class="tab-pane fade" id="sub43">
                                <p>LOREM IPSUM</p>
                            </div>                                                                 
                        </div>
                    </div>
                </div>                
            </div>
        </div> -->

<div class="news">
    <p>Hello</p>
</div>

<div class="contacts">
    <p>Hello</p>
</div>