<div class="page-wrapper">
    <div class="banner">
        <div class="container">
            <h1>SOLUÇÕES ÚNICAS PARA O SEU NEGÓCIO</h1>
            <p>O seu parceiros na área de consultoria financeira </p>
        </div>
    </div>
</div>

<div class="about-us">
    <p>A Omnium Advisory Partners foi criada com o objectivo de colaborar 
    com as equipas de gestão e accionistas ao longo de todas as fases de d
    esenvolvimento das suas empresas.</p>
    <p>Os vários serviços de consultoria financeira estão assentes na proximidade, 
    comunicação clara, acompanhamento e elaboração de soluções únicas e de valor acrescentado para cada 
    situação, pretendendo criar relações duradouras com os seus clientes.</p>
    <p>Os nossos serviços têm por base os seguintes pilares.</p>
</div>

<div class="our-services">
    <p>Hello</p>
</div>

<div class="news">
    <p>Hello</p>
</div>

<div class="contacts">
    <p>Hello</p>
</div>