<div class="page-wrapper">
    <div class="banner">
        <div class="container">
            <h1>SOLUÇÕES ÚNICAS PARA O SEU NEGÓCIO</h1>
            <p>O seu parceiros na área de consultoria financeira </p>
        </div>
    </div>
</div>

<div class="about-us">
    <div class="row description-1">
        <div class="col-sm">
            <h3>Sobre Nós</h3>
            <p>A Omnium Advisory Partners foi criada com o objectivo de colaborar 
            com as equipas de gestão e accionistas ao longo de todas as fases de d
            esenvolvimento das suas empresas.</p>
            <p>Os vários serviços de consultoria financeira estão assentes na proximidade, 
            comunicação clara, acompanhamento e elaboração de soluções únicas e de valor acrescentado para cada 
            situação, pretendendo criar relações duradouras com os seus clientes.</p>
        </div>   
        <div class="col-sm">
          <%= image_tag "sobre_nos.png" %> 
        </div>   
    </div>
    <div class="row description-2">
        <div class="col-12">
            <p><strong>Os nossos serviços têm por base os seguintes pilares:</strong></p>
        </div>
        <div class="col-md-3 col-sm-12 box">
            <div class="box-header">
                <i class="fas fa-envelope"></i>
                <p>Integridade e confidencialidade</p>
            </div>
            <p>Servir os nossos clientes evitando todos os conflitos de interesse e preservando toda a informação com um elevado grau de confidencialidade.</p>
        </div>
        <div class="col-md-3 col-sm-12 box">
            <div class="box-header">
                <i class="fas fa-comments"></i>
                <p>Comunicação e transparência</p>
            </div>    
            <p>Comunicar de formar regular, clara e eficaz todos os aspectos relevantes do projecto.</p>
        </div>
        <div class="col-md-3 col-sm-12 box">
            <div class="box-header">
                <i class="fas fa-hands-helping"></i>
                <p>Proximidade e acompanhamento</p>
            </div>    
            <p>Prestar um serviço próximo e compreender as necessidades reais dos nossos clientes.</p>
        </div>
        <div class="col-md-3 col-sm-12 box">
            <div class="box-header">
                <i class="fas fa-chart-line"></i>
                <p>Criar valor acrescentado</p>
            </div>    
            <p>Criar soluções únicas e criativas para cada situação que tragam resultados tangíveis para os nossos clientes.</p>
        </div>
    </div>    
</div>    

<div class="our-services">
    <p>Hello</p>
</div>

<div class="news">
    <p>Hello</p>
</div>

<div class="contacts">
    <p>Hello</p>
</div>