<div class="page-wrapper">
    <div class="banner">
        <div class="container">
            <h1>SOLUÇÕES ÚNICAS PARA O SEU NEGÓCIO</h1>
            <p>O seu parceiros na área de consultoria financeira </p>
        </div>
    </div>
</div>

<div class="about-us">
    <div class="row description-1">
        <div class="col-sm">
            <h3>Sobre Nós</h3>
            <p>A Omnium Advisory Partners foi criada com o objectivo de colaborar 
            com as equipas de gestão e accionistas ao longo de todas as fases de d
            esenvolvimento das suas empresas.</p>
            <p>Os vários serviços de consultoria financeira estão assentes na proximidade, 
            comunicação clara, acompanhamento e elaboração de soluções únicas e de valor acrescentado para cada 
            situação, pretendendo criar relações duradouras com os seus clientes.</p>
        </div>   
        <div class="col-sm">
          <%= image_tag "sobre_nos.png" %> 
        </div>   
    </div>
    <div class="row description-2">
        <div class="col-12">
            <p><strong>Os nossos serviços têm por base os seguintes pilares:</strong></p>
        </div>
        <div class="col-md-3 col-sm-12 box">
            <div class="box-header">
                <i class="fas fa-envelope"></i>
                <p>Integridade e confidencialidade</p>
            </div>
            <p>Servir os nossos clientes evitando todos os conflitos de interesse e preservando toda a informação com um elevado grau de confidencialidade.</p>
        </div>
        <div class="col-md-3 col-sm-12 box">
            <div class="box-header">
                <i class="fas fa-comments"></i>
                <p>Comunicação e transparência</p>
            </div>    
            <p>Comunicar de formar regular, clara e eficaz todos os aspectos relevantes do projecto.</p>
        </div>
        <div class="col-md-3 col-sm-12 box">
            <div class="box-header">
                <i class="fas fa-hands-helping"></i>
                <p>Proximidade e acompanhamento</p>
            </div>    
            <p>Prestar um serviço próximo e compreender as necessidades reais dos nossos clientes.</p>
        </div>
        <div class="col-md-3 col-sm-12 box">
            <div class="box-header">
                <i class="fas fa-chart-line"></i>
                <p>Criar valor acrescentado</p>
            </div>    
            <p>Criar soluções únicas e criativas para cada situação que tragam resultados tangíveis para os nossos clientes.</p>
        </div>
    </div>    
</div>    

<div class="our-services">
    <div class="test">
        <div class="tabbable boxed parentTabs">
            <ul class="nav nav-tabs nav-fill parentNavigation">
                <li class="active nav-item">
                    <a href="#set1">STARTUP</a>
                </li>
                <li class="nav-item">
                    <a href="#set2">CRESCIMENTO</a>
                </li>
                <li class="nav-item">
                    <a href="#set3">MATURIDADE</a>
                </li>
                <li class="nav-item">
                    <a href="#set4">DECLÍNIO</a>
                </li>                
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="set1">
                    <div class="tabbable childTabs">
                        <ul class="nav nav-tabs nav-fill">
                            <li class="active nav-item">
                                <a href="#sub11">PLANOS DE NEGÓCIO</a>
                            </li>
                            <li class="nav-item">    
                                <a href="#sub12">LEVANTAMENTO DE FUNDOS</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in services-box" id="sub11">
                                <h3>PLANOS DE NEGÓCIO</h3>
                                <p>A definição de um rumo e de uma estratégia é fundamental para alcançar os objetivos de cada empresa, sejam estes a obtenção de um padrão de crescimento, o reforço da sua posição no mercado ou a incorporação de novas áreas de negócio.</p>
                                <p>O foco da Omnium consiste na análise histórica e financeira da atividade, na definição e análise dos drivers de negócio, na avaliação da recorrência dos cash flows da empresa e na determinação da estrutura financeira mais adequada ao negócio.</p>
                                <p>Esta solução permite aos acionistas aferir a rentabilidade atual e potencial de cada área de negócio e as principais ineficiências operacionais e financeiras existentes, de forma a definir o melhor plano de actuação no curto e médio prazo.</p>
                            </div>
                            <div class="tab-pane fade services-box" id="sub12">
                                <h3>LEVANTAMENTO DE FUNDOS</h3>
                                <p>A Omnium tem acesso directo a uma vasta rede de investidores nacionais e internacionais, especializados quer em instrumentos de capital próprio quer em dívida. Esta rede é ainda composta por investidores privados e institucionais que investem em todas a fases do seu negócio.</p>
                                <p>A nossa colaboração num processo desta natureza engloba, entre outros, a construção de um equity-story, delineação dos montantes de investimentos necessário e aplicação dos fundos, contacto com potenciais investidores e/ou instituições financeiras tradicionais e mediação das negociações.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="set2">
                    <div class="tabbable childTabs">
                        <ul class="nav nav-tabs nav-fill">
                            <li class="active nav-item">
                            <a href="#sub21">COMPRA E <br>VENDA DE ATIVOS</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sub22">AVALIAÇÕES</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sub23">PLANOS <br>DE NEGÓCIO</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sub24">ESTUDOS <br> DE VIABILIDADE</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sub25">ESTUDOS <br> DE MERCADO</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sub26">LEVANTAMENTO <br> DE FUNDOS</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sub27">SERVIÇOS DE <br> APOIO À GESTÃO</a>
                            </li>                                                                                                                                        
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in services-box" id="sub21">
                                <h3>COMPRA E VENDA DE ACTIVOS</h3>
                                <p>A Omnium tem acesso directo a uma vasta rede de investidores nacionais e internacionais, especializados quer em instrumentos de capital próprio quer em dívida. Esta rede é ainda composta por investidores privados e institucionais que investem em todas a fases do seu negócio.</p>
                                <p>A nossa colaboração num processo desta natureza engloba, entre outros, a construção de um equity-story, delineação dos montantes de investimentos necessário e aplicação dos fundos, contacto com potenciais investidores e/ou instituições financeiras tradicionais e mediação das negociações.</p>
                            </div>
                            <div class="tab-pane fade services-box" id="sub22">
                                <h3>AVALIAÇÕES</h3>
                                <p>A Omnium ajuda os seus clientes a determinar de uma forma consubstanciada o justo valor de uma empresa ou negócio. Estas avaliações tem por base métodos comumente aceites no mercado, como o fluxo de caixa descontado e múltiplos de transações recentes no sector e de empresas idênticas cotadas.</p>
                                <p>Um serviços desta natureza pode ser utilizado para obter uma visão independente num processo de venda, auxiliar a montagem de planos de incentivos a colaboradores, reportes financeiros, relatórios periódicos para investidores de fundos, resolução de conflitos/ litígios e partilhas, entre outros.</p>
                            </div>
                            <div class="tab-pane fade services-box" id="sub23">
                                <h3>PLANOS DE NEGÓCIO</h3>
                                <p>A definição de um rumo e de uma estratégia é fundamental para alcançar os objetivos de cada empresa, sejam estes a obtenção de um padrão de crescimento, o reforço da sua posição no mercado ou a incorporação de novas áreas de negócio.</p>
                                <p>O foco da Omnium consiste na análise histórica e financeira da atividade, na definição e análise dos drivers de negócio, na avaliação da recorrência dos cash flows da empresa e na determinação da estrutura financeira mais adequada ao negócio.</p>
                                <p>Esta solução permite aos acionistas aferir a rentabilidade atual e potencial de cada área de negócio e as principais ineficiências operacionais e financeiras existentes, de forma a definir o melhor plano de actuação no curto e médio prazo.</p>
                            </div>
                            <div class="tab-pane fade services-box " id="sub24">
                                <h3>ESTUDOS DE VIABILIDADE</h3>
                                <p>Os estudos de viabilidade permitem ao investidor aferir e maximizar a rentabilidade de um potencial investimento, identificando ainda riscos que possam decorrer durante a sua implementação.</p>
                                <p>Os estudos de viabilidade da Omnium encontram-se repartidos em duas fases. Numa fase inicial é efetuada uma análise de mercado, onde é caracterizado o sector, concorrência e KPIs. Numa segunda fase, é testada a viabilidade económico-financeira do projeto através de métricas como o VAL, a TIR e payback descontado, sendo posteriormente apresentadas sensibilidades aos pressupostos-chave do negócio.</p>
                            </div>    
                            <div class="tab-pane fade services-box" id="sub25">
                                <h3>ESTUDOS DE MERCADO</h3>
                                <p>Um estudo de mercado é uma ferramenta essencial para entender a envolvente de cada negócio e o posicionamento de cada empresa relativamente às empresas concorrentes.</p>
                                <p>O trabalho da Omnium passa por analisar as dinâmicas do mercado e do sector em duas vertentes distintas: produto/ cadeia de valor e análise da concorrência. A primeira vertente consiste em analisar a cadeia de valor em que a empresa se insere, nomeadamente ao nível de riscos inerentes à atividade da empresa. A segunda vertente consiste, não exclusivamente, na avaliação do posicionamento da empresa junto dos peers, estimativa da dimensão do mercado e de segmentos de mercado, cálculo de quotas de mercado e análise de tendências futuras.</p>
                            </div>    
                            <div class="tab-pane fade services-box" id="sub26">
                                <h3>LEVANTAMENTO DE FUNDOS</h3>
                                <p>Um estudo de mercado é uma ferramenta essencial para entender a envolvente de cada negócio e o posicionamento de cada empresa relativamente às empresas concorrentes.</p>
                                <p>O trabalho da Omnium passa por analisar as dinâmicas do mercado e do sector em duas vertentes distintas: produto/ cadeia de valor e análise da concorrência. A primeira vertente consiste em analisar a cadeia de valor em que a empresa se insere, nomeadamente ao nível de riscos inerentes à atividade da empresa. A segunda vertente consiste, não exclusivamente, na avaliação do posicionamento da empresa junto dos peers, estimativa da dimensão do mercado e de segmentos de mercado, cálculo de quotas de mercado e análise de tendências futuras.</p>
                            </div>  
                            <div class="tab-pane fade services-box" id="sub27">
                                <h3>SERVIÇOS DE APOIO À GESTÃO</h3>
                                <p>A Omnium produz relatórios personalizados que destacam-se pela sua simplicidade e abrangência de todas as vertentes  do seu negócio, permitindo à equipa de gestão e sócios tomar decisões céleres e sustentadas em resultados, bem como acompanhar o cumprimento de certos objectivos e alertar para possíveis problemas do negócio.</p>
                                <p>Este acompanhamento regular (mensal, trimestral ou semestral) passa pela análise das principais receitas, custos e tesouraria, comparando ainda os KPIs da empresa com os seus concorrentes e mercado relevante.</p>
                                <p>Pode consultar abaixo exemplos de relatório para algumas indústrias: </p>
                            </div>                                                                                                        
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="set3">
                    <div class="tabbable childTabs">
                        <ul class="nav nav-tabs nav-fill">
                            <li class="active nav-item">
                                <a href="#sub31">COMPRA E <br> VENDA DE ATIVOS</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sub32">AVALIAÇÕES</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sub33">PLANOS <br> DE NEGÓCIO</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sub34">ESTUDOS <br> DE VIABILIDADE</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sub35">ESTUDOS <br> DE MERCADO</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sub36">LEVANTAMENTO <br> DE FUNDOS</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sub37">SERVIÇOS DE <br> APOIO À GESTÃO</a>
                            </li>                                                                                                                                        
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in services-box" id="sub31">
                                <h3>COMPRA E VENDA DE ACTIVOS</h3>
                                <p>A Omnium tem acesso directo a uma vasta rede de investidores nacionais e internacionais, especializados quer em instrumentos de capital próprio quer em dívida. Esta rede é ainda composta por investidores privados e institucionais que investem em todas a fases do seu negócio.</p>
                                <p>A nossa colaboração num processo desta natureza engloba, entre outros, a construção de um equity-story, delineação dos montantes de investimentos necessário e aplicação dos fundos, contacto com potenciais investidores e/ou instituições financeiras tradicionais e mediação das negociações.</p>
                            </div>
                            <div class="tab-pane fade services-box" id="sub32">
                                <h3>AVALIAÇÕES</h3>
                                <p>A Omnium ajuda os seus clientes a determinar de uma forma consubstanciada o justo valor de uma empresa ou negócio. Estas avaliações tem por base métodos comumente aceites no mercado, como o fluxo de caixa descontado e múltiplos de transações recentes no sector e de empresas idênticas cotadas.</p>
                                <p>Um serviços desta natureza pode ser utilizado para obter uma visão independente num processo de venda, auxiliar a montagem de planos de incentivos a colaboradores, reportes financeiros, relatórios periódicos para investidores de fundos, resolução de conflitos/ litígios e partilhas, entre outros.</p>
                            </div>
                            <div class="tab-pane fade services-box" id="sub33">
                                <h3>PLANOS DE NEGÓCIO</h3>
                                <p>A definição de um rumo e de uma estratégia é fundamental para alcançar os objetivos de cada empresa, sejam estes a obtenção de um padrão de crescimento, o reforço da sua posição no mercado ou a incorporação de novas áreas de negócio.</p>
                                <p>O foco da Omnium consiste na análise histórica e financeira da atividade, na definição e análise dos drivers de negócio, na avaliação da recorrência dos cash flows da empresa e na determinação da estrutura financeira mais adequada ao negócio.</p>
                                <p>Esta solução permite aos acionistas aferir a rentabilidade atual e potencial de cada área de negócio e as principais ineficiências operacionais e financeiras existentes, de forma a definir o melhor plano de actuação no curto e médio prazo.</p>
                            </div>
                            <div class="tab-pane fade services-box" id="sub34">
                                <h3>ESTUDOS DE VIABILIDADE</h3>
                                <p>Os estudos de viabilidade permitem ao investidor aferir e maximizar a rentabilidade de um potencial investimento, identificando ainda riscos que possam decorrer durante a sua implementação.</p>
                                <p>Os estudos de viabilidade da Omnium encontram-se repartidos em duas fases. Numa fase inicial é efetuada uma análise de mercado, onde é caracterizado o sector, concorrência e KPIs. Numa segunda fase, é testada a viabilidade económico-financeira do projeto através de métricas como o VAL, a TIR e payback descontado, sendo posteriormente apresentadas sensibilidades aos pressupostos-chave do negócio.</p>
                            </div>    
                            <div class="tab-pane fade services-box" id="sub35">
                                <h3>ESTUDOS DE MERCADO</h3>
                                <p>Um estudo de mercado é uma ferramenta essencial para entender a envolvente de cada negócio e o posicionamento de cada empresa relativamente às empresas concorrentes.</p>
                                <p>O trabalho da Omnium passa por analisar as dinâmicas do mercado e do sector em duas vertentes distintas: produto/ cadeia de valor e análise da concorrência. A primeira vertente consiste em analisar a cadeia de valor em que a empresa se insere, nomeadamente ao nível de riscos inerentes à atividade da empresa. A segunda vertente consiste, não exclusivamente, na avaliação do posicionamento da empresa junto dos peers, estimativa da dimensão do mercado e de segmentos de mercado, cálculo de quotas de mercado e análise de tendências futuras.</p>
                            </div>    
                            <div class="tab-pane fade services-box" id="sub36">
                                <h3>LEVANTAMENTO DE FUNDOS</h3>
                                <p>Um estudo de mercado é uma ferramenta essencial para entender a envolvente de cada negócio e o posicionamento de cada empresa relativamente às empresas concorrentes.</p>
                                <p>O trabalho da Omnium passa por analisar as dinâmicas do mercado e do sector em duas vertentes distintas: produto/ cadeia de valor e análise da concorrência. A primeira vertente consiste em analisar a cadeia de valor em que a empresa se insere, nomeadamente ao nível de riscos inerentes à atividade da empresa. A segunda vertente consiste, não exclusivamente, na avaliação do posicionamento da empresa junto dos peers, estimativa da dimensão do mercado e de segmentos de mercado, cálculo de quotas de mercado e análise de tendências futuras.</p>
                            </div>  
                            <div class="tab-pane fade services-box" id="sub37">
                                <h3>SERVIÇOS DE APOIO À GESTÃO</h3>
                                <p>A Omnium produz relatórios personalizados que destacam-se pela sua simplicidade e abrangência de todas as vertentes  do seu negócio, permitindo à equipa de gestão e sócios tomar decisões céleres e sustentadas em resultados, bem como acompanhar o cumprimento de certos objectivos e alertar para possíveis problemas do negócio.</p>
                                <p>Este acompanhamento regular (mensal, trimestral ou semestral) passa pela análise das principais receitas, custos e tesouraria, comparando ainda os KPIs da empresa com os seus concorrentes e mercado relevante.</p>
                                <p>Pode consultar abaixo exemplos de relatório para algumas indústrias: </p>
                            </div>                                                                                                        
                        </div>
                    </div>
                </div>    
                <div class="tab-pane fade" id="set4">
                    <div class="tabbable childTabs">
                        <ul class="nav nav-tabs nav-fill">
                            <li class="active nav-item">
                                <a href="#sub41">REESTRUTURAÇÕES</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sub42">COMPRA E VENDA DE ACTIVOS</a>
                            </li>
                            <li class="nav-item">
                                <a href="#sub43">APOIO À GESTÃO</a>
                            </li>                                                                                                                     
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in services-box" id="sub41">
                                <h3>REESTRUTURAÇÕES</h3>
                                <p>Os serviços de reestruturação da Omnium visam identificar, analisar e solucionar todos os aspectos da empresa que têm restringido o seu crescimento sustentável. </p>
                                <p>Numa primeira fase, a análise da Omnium contempla, entre outros, a análise mensal da geração de caixa durante os últimos anos,  a compração de rácios-chave de operação, fundo de maneio e  financiamento com os concorrentes e apuramento do total de responsabilidades e necessidades de financimamento para os próximos meses e anos, assente num Plano de Negócios minucioso preparado em conjunto com a equipa de gestão.</p>
                                <p>Posteriomente, a Omnium auxiliará numa possível renegociação de dívida com as entidades financeiras, implementação de medidas para melhorar a geração de caixa da empresa e acompanhamento do negócio.</p>
                            </div>
                            <div class="tab-pane fade services-box" id="sub42">
                                <h3>COMPRA E VENDA DE ACTIVOS</h3>
                                <p>A Omnium tem acesso directo a uma vasta rede de investidores nacionais e internacionais, especializados quer em instrumentos de capital próprio quer em dívida. Esta rede é ainda composta por investidores privados e institucionais que investem em todas a fases do seu negócio.</p>
                                <p>A nossa colaboração num processo desta natureza engloba, entre outros, a construção de um equity-story, delineação dos montantes de investimentos necessário e aplicação dos fundos, contacto com potenciais investidores e/ou instituições financeiras tradicionais e mediação das negociações.</p>
                            </div>
                            <div class="tab-pane fade services-box" id="sub43">
                                <h3>SERVIÇOS DE APOIO À GESTÃO</h3>
                                <p>A Omnium produz relatórios personalizados que destacam-se pela sua simplicidade e abrangência de todas as vertentes  do seu negócio, permitindo à equipa de gestão e sócios tomar decisões céleres e sustentadas em resultados, bem como acompanhar o cumprimento de certos objectivos e alertar para possíveis problemas do negócio.</p>
                                <p>Este acompanhamento regular (mensal, trimestral ou semestral) passa pela análise das principais receitas, custos e tesouraria, comparando ainda os KPIs da empresa com os seus concorrentes e mercado relevante.</p>
                                <p>Pode consultar abaixo exemplos de relatório para algumas indústrias: </p>
                            </div>                                                                                                    
                        </div>
                    </div>
                </div>                           
        </div>
    </div>
</div>    
</div>      

<div class="contacts">
    <div class = "teste1">
        <div id="map"></div>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1Ijoiam9hbmFyZnJlaXMiLCJhIjoiY2sxeXpxODd5MGtxZjNubXZkY3NhZjd1eiJ9.Y_0geCvryUlGkOPv4oLu4Q';
            var map = new mapboxgl.Map({
                container: 'map', // container id
                style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                center:[-9.1709844, 38.7223662], // starting position [lng, lat]
                zoom: 14 // starting zoom
                });
            var marker = new mapboxgl.Marker()
            .setLngLat([ -9.1709844, 38.7223662 ])
            .addTo(map);
        </script>
    </div>        
    <div class = "teste2">
        <p>Avenida Engenheiro Duarte Pacheco, Nº 17/19, Sala 14 1070-100 Lisboa</p>
        <p>Telefone: +351 xx</p>  
        <p>Fax: xx</p>
        <p>E-mail: xx</p>
    </div>    
</div>

