a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.tab .nav-tabs{
    border-bottom: 2px solid #ddd;
}
.tab .nav-tabs li{
    margin: 0 2px 0 0;
    position: relative;
}
.tab .nav-tabs li.active:before{
    content: "";
    position: absolute;
    bottom: -28px;
    left: 68px;
    border: 14px solid transparent;
    border-top-color: red;
    z-index:9;
}
.tab .nav-tabs li.active:after{
    content: "";
    position: absolute;
    bottom: -24px;
    left: 81px;
    border: 12px solid transparent;
    /*border-top-color: #fff;*/
}
.tab .nav-tabs li a{
    border: none;
    padding: 20px 53px;
    font-size: 14px;
    color: #777;
    background: transparent;
    border-radius: 0;
    text-decoration: none;
}